<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear />
    <add key="CellCollectionPath" value="C:\Dati\Progetti\GitRoot\hbg\HbgTest\JSONs\cellCollection.json" />
    <add key="HotelCollectionPath" value="C:\Dati\Progetti\GitRoot\hbg\HbgTest\JSONs\hotelCollection.json" />
  </appSettings>
</configuration>