<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<alias alias="Fixed" type="Hotel.FixedProvider.HotelFixedProvider, Hotel.FixedProvider" />-->
    <namespace name="HotelEntities.Interfaces" />
    <assembly name="HotelEntities" />
    <namespace name="Hotel.FixedProvider" />    
    <assembly name="Hotel.FixedProvider" />    
    <container>
      <register type="IHotelDataProvider" mapTo="HotelFixedProvider" />
    </container>
  </unity>
</configuration>