<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
</startup>
<configSections>
      <section name="DataProvider" type="HotelJSONDataProvider, HotelJSONProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9a1b10df70a3df13"/>
  </configSections>
</configuration>
